.wrapper {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    box-sizing: border-box;

    .cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0 30px;
        height: 100%;
        align-items: center;

        .card {
            border: 1px solid grey;
            font-weight: bolder;
            border-radius: 15%;
            height: 150px;
            width: 100px;
            padding: 10px;
            box-sizing: border-box;
            margin-right: 5px;
            cursor: pointer;
            box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);

            @media screen and (max-height: 900px) {
                height: 100px;
                width: 75px;
                padding: 5px;
            }


            &:last-child {
                margin-right: 0;
            }

            .inner {
                height: 100%;
                border: 1px solid grey;
                border-radius: 15%;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                word-break: break-all;
                padding: 5px;
                box-sizing: border-box;
            }

            &.select {
                text-decoration: underline;
                transform: rotate(5deg);
                border-color: #178000;
                color: #178000;
                .inner {
                    border-color: #178000;
                    font-size: 20px;
                }
            }

            &:not(.select):hover {
                border-color: grey;
                color: grey;
                transform: rotate(5deg);

                .inner {
                    border-color: grey;
                }
            }
        }
    }
}
