.wrapper {
    overflow: hidden;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    
    .form {
        border: 1px solid rgba(99, 97, 119, .25);
        padding: 20px;
        margin: 10% auto 0;
        border-radius: 5px;
        box-shadow: 2px 8px 8px rgba(0, 0, 0, .5);
        max-width: 400px;
    }
}