@import "index";

.navbar {
    display: flex;
    color: black;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;

    .login {
        margin-left: auto;
    }

    .nameLoguot {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .name {
            margin-right: 20px;
            padding-bottom: 5px;
            margin-left: 10px;
        }
    }

    .link {
        color: inherit;
        @include simple_link;
    }
}