.wrapper {
    padding: 10px;

    .link {
        width: 100%;
    }
    .actions {
        padding-top: 10px;

        .action {
            margin-top: 10px;
            display: block;
            width: 100%;
        }
    }
    .link {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .field {
            width: 100%;
        }

        .copy {
            margin-left: 5px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.dialog {
    width: 100%;
    box-sizing: border-box;
    min-width: 500px;
}

.error {
    color: red;
}