.form {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .title {

        width: 100%;

        .field {
            width: 100%;
        }
    }

    .create {
        width: 100%;

        button {
            height: 48px;
            margin-left: 10px;
            width: 100%;
            max-width: 150px;
        }
    }
}