.wrapper {
    padding: 10px;

    .link {
        width: 100%;
    }
    .actions {
        padding-top: 10px;

        .action {
            margin-top: 10px;
            display: block;
            width: 100%;
        }
    }

}