$grey: rgba(128, 128, 128, 0.32);

.wrapper {
    height: 100%;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: 40px 20px;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    box-sizing: border-box;

    .title {
        height: 50px;
    }

    .workplace {
        height: 100%;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        .left {
            padding: 10px;
            height: 100%;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            flex-flow: column;
            overflow: hidden;
            border-right: 1px solid $grey;

            .playground {
                flex-grow: 7;
                height: 100%;
                overflow: hidden;
            }

            .stories {
                height: 400px;
                overflow: hidden;
            }

        }

        .right {
            width: 400px;
            display: flex;
            flex-flow: column;
            overflow: hidden;
            padding: 0 10px 10px;

            .control {
                flex-grow: 1;
                border-buttom: 1px solid $grey;
            }

            .users {
                flex-grow: 7;
                height: 100%;
                overflow: hidden;
            }
        }

    }
}