.wrapper {
    height: 100%;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: 40px 0;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    box-sizing: border-box;

    .title {
        height: 50px;
    }

    .workplace {
        border: 1px solid black;
        height: 100%;
        display: flex;
        justify-content: space-between;

        .left {
            padding: 10px;
            border: 1px solid black;
            width: 100%;
            display: flex;
            flex-flow: column;
            overflow: hidden;

            .playground {
                flex-grow: 7;
                border: 1px solid black;
                height: 100%;
            }

            .stories {
                border: 1px solid black;
                height: 400px;
                overflow: hidden;
            }

        }

        .right {
            padding: 10px;
            border: 1px solid black;
            width: 400px;
            display: flex;
            flex-flow: column;
            overflow: hidden;

            .control {
                flex-grow: 1;
                border: 1px solid black;
            }

            .users {
                flex-grow: 7;
                border: 1px solid black;
            }
        }

    }
}