.wrapper {
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    justify-content: start;
    box-sizing: border-box;
    padding: 10px;


    .title {
        display: flex;
        justify-content: space-between;
        height: 32px;
    }

    .time {
        height: 15px;
        text-align: right;
    }

    .playground {
        height: 100%;
        overflow: hidden;
    }

    .work_panel {
        display: flex;
        align-items: center;
        width: 100%;
        height: 36px;
        .duration {
            height: 36px;
        }

        .action {
            margin-left: auto;
        }
    }

}