.wrapper {
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    justify-content: start;
    box-sizing: border-box;
    padding: 10px;


    .title {

    }

    .time {
        height: 15px;
        text-align: right;
    }

    .playground {
        height: 100%;
        overflow: auto;
    }

    .work_panel {
        display: flex;
        align-items: center;
        width: 100%;
        .duration {
            height: 36px;
            vertical-align: center;
            color: grey;
            display: flex;
            align-items: center;
        }

        .action {
            margin-left: auto;
        }
    }

}