.wrapper {
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    justify-content: start;
    box-sizing: border-box;
    padding: 10px;


    .title {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }

    .playground {
        height: 100%;
        overflow: auto;
    }
}