$grey: rgba(128, 128, 128, 0.32);

.wrapper {
    height: 100%;
    display: flex;
    flex-flow: column;

    .title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid $grey;
        margin-bottom: 10px;

        .groups {
            display: block;
            margin-left: 10px;
            cursor: pointer;
        }
    }

    .panel {
        margin-left: auto;
        padding: 5px 0;
        display: flex;
        justify-content: start;

        .numbers {
            margin-left: 15px;
        }
    }

    .list {
        height: 100%;
        overflow: auto;

    }
}