.wrapper {

    .header {

        display: flex;
        justify-content: space-between;
        align-items: center;

        border-bottom: 1px solid #000000;
        padding-bottom: 5px;
        box-sizing: border-box;

        .name {
            font-weight: bolder;
        }

        .settings {
            display: block;
            cursor: pointer;
        }
    }


    .list {
        padding-top: 5px;
    }
}